* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* menu com JS */
.menu-materias ul {
  background-color: #e30613;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 82px;
  z-index: 9999;
  left: 77.5%;
  width: 405px;
  height: 0;
  visibility: hidden;
  transition: 0.5s;
  overflow: hidden;
  margin-right: 0;
}

.menu-materias.abrir ul {
  visibility: visible;
  height: calc(55.5vh - 10px);
}

.menu-materias ul li:hover {
  background-color: #9a1915;
}

.menu-materias ul li {
  display: block;
  padding: 10px 30px;
  font-size: 16px;
  text-align: center;
}

.menu-materias ul li a {
  color: #ffffff;
  text-decoration: none;
}
#btn-menu {
  width: 45px;
  height: 45px;
  border: 0px solid #ff0000;
  background: transparent;
  border-radius: 10px;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}

.linha {
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  margin: 10px auto;
  position: relative;
  transform-origin: center;
  transition: 0.2s;
}
#btn-menu.ativo .linha:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
  background-color: #ffffff;
}
#btn-menu.ativo .linha:nth-child(3) {
  transform: translateY(-15px) rotate(45deg);
  background-color: #ffffff;
}
#btn-menu.ativo .linha:nth-child(2) {
  width: 0;

  height: 4px;
}
#btn-menu.ativo {
  border: 0px solid #000000;
}

/* Parte navegação */
.aba-item04 {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.aba-text-check04 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

.aba-item-check04 {
  background-color: #308640;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.aba-text04 {
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
}

.aba-item01 {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.aba-text-check01 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

.aba-item-check01 {
  background-color: #308640;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.aba-text01 {
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
}

.aba-item02 {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.aba-text-check02 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

.aba-item-check02 {
  background-color: #308640;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.aba-text02 {
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
}

.aba-item03 {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.aba-text-check03 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

.aba-item-check03 {
  background-color: #308640;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.aba-text03 {
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
}

.aba-item05 {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.aba-text-check05 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

.aba-item-check05 {
  background-color: #308640;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.aba-text05 {
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
}

.aba-item06 {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.aba-text-check06 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

.aba-item-check06 {
  background-color: #308640;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.aba-text06 {
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
}

.aba-item01:hover {
  background-color: #308640;
  transition: calc(0.5s);
}

.aba-item02:hover {
  background-color: #308640;
  transition: calc(0.5s);
}

.aba-item03:hover {
  background-color: #308640;
  transition: calc(0.5s);
}

.aba-item04:hover {
  background-color: #308640;
  transition: calc(0.5s);
}

.aba-item05:hover {
  background-color: #308640;
  transition: calc(0.5s);
}

.aba-item06:hover {
  background-color: #308640;
  transition: calc(0.5s);
}

/* Notícias */
.principaisNoticias {
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  margin: 20px auto;
  border-radius: 8px;
  height: 62rem;
}

.principaisNoticias h2 {
  color: #030303;
  font-size: 28px;
  margin-bottom: 20px;
  border-bottom: 2px solid #308640;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 65px;
}

/* personalização do sobreNós */
.quemSomos {
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  margin: 20px auto;
  max-width: 1200px;
  border-radius: 8px;
}

.quemSomos h2 {
  color: #030303;
  font-size: 28px;
  margin-bottom: 20px;
  border-bottom: 2px solid #308640;
  display: inline-block;
  padding-bottom: 10px;
}

.quemSomos article {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #cacaca;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0px 0px 50px 0px;
  margin-left: 100px;
  margin-right: 100px;
}

.quemSomos article p {
  color: #000000;
  font-size: 20px;
}


/* Parte padrão */
.sociologia-header {
  display: flex;
  color: #ffffffff;
  background-color: #e30613;
  padding: 1rem 0;
}

.logo-header {
  margin: 0 30px;
  display: flex;
  gap: 40px;
  background-color: #e30613;
}

.section-img {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.img-content {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 5px solid #9a1915;
}

.header-nav {
  list-style: none;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.links {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
  margin-right: 50px;
}

.links a {
  display: flex;
  color: #ffffff;
  font-size: 1.3rem;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.vertical-line {
  height: 50px;
  width: 3px;
  background-color: #ffff;
  margin: 0 20%;

}

.logo-header {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: #e30613;
  height: 50px;
}



.banner {
  padding: 0;
  width: 100%;
  height: 400px;
  filter: brightness(0.6);
  object-fit: cover;
  object-position: 30% 20%;
}

.titulo {
  position: absolute;
  top: 30%;
  left: 300px;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-weight: bold;
}

#line {
  height: 5px;
  margin: 20px auto;
  width: 20%;
  background-color: #9a1915;
}



.header-nav .nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}


.icones {
  background-color: #e30613;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topics-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

#intro-content {
  max-width: 60%;
  margin-bottom: 50px;
}

/* Footer */
.footer-text {
  background-color: #9a1915;
  color: white;
}

.header-nav .nav-link {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  margin: 6px;
  color: #ffffffff;
}

.footer {
  background-color: #9a1915;
  color: white;
}

.icones {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icones a {
  margin-top: 7px;
}


.footer-text {
  background-color: #9a1915;
  color: white;
}

.enderecos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
}

/* teste carrossel */

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25rem;
  margin-left: 14rem;
}
.carousel__item {
  position: relative;
  height: 25rem;
  width: 15rem;
  overflow: hidden;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50%, -50%) scale(0.1);
  transition: all 0.2s linear;
}
.carousel__item img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.carousel__item--main {
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
  cursor: pointer;
}

.carousel__item--left {
  transform: translate(-110%, -50%) scale(0.9);
  z-index: 0;
}
.carousel__item--right {
  transform: translate(10%, -50%) scale(0.9);
  z-index: 0;
}
.carousel__item--left img,
.carousel__item--right img {
  filter: grayscale(80%);
}

.carousel__item--right:hover {
  transform: translate(10%, -50%) scale(1.2);
  z-index: 2;
  cursor: pointer;
}
.carousel__item--left:hover {
  transform: translate(-110%, -50%) scale(1.2);
  z-index: 2;
  cursor: pointer;
}
.carousel__item--main:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
.carousel__item:hover > .carousel__text {
  opacity: 1;
}
.carousel__item:hover img {
  filter: grayscale(0%);
}

.carousel__text {
  position: absolute;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  color: #fff;
}

.carousel__btns {
  transform: translate(-50%, 6rem);
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: -3rem;
}
.carousel__btn {
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid currentColor;
  color: #fff;
  cursor: pointer;
  color: #000000;
}
.carousel__btn svg {
  height: 1.8rem;
  width: 1.8rem;
  color: black;
}
.carousel__btn:hover {
  color: #3b3b3b;
  box-shadow: 0 0 10px #000, 0 0 20px #000;
  transition: calc(0.5s);
}