
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Cabeçalho */
.menu-home {
  background-color: #e42323;
  color: white;
  display: flex;
  align-items: center;
  height: 90px;
  margin: 0;
  padding: 10px 20px;
}

.logosesi {
  margin-left: 20px;
}

.logosenai {
  margin-left: 40px;
}

.home-sobrenos {
  margin-left: 750px;
  font-size: 20px;
}


.menu-home nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
}

.menu-home nav ul li {
  margin-right: 15px;
}

.menu-home nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
}




.conteiner {
  background-color: #016d15;
  height: 200px;
}
.partehome h1 {
  text-align: left;
  padding: 80px;
  color: white;
  font-size: 45;
  display: flex;
}


/* Menu principal */
.menu-site {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.menu-site ul {
  list-style-type: none;
}

.menu-site ul li {
  display: inline;
  margin-right: 20px;
}

.menu-site ul li a {
  color: #3a3a3a;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #d4d4d4;
  padding: 10px 15px;
  border-radius: 30px;
}

.menu-site ul li a:hover {
  background-color: #ffffff;
}

/* Notícias */
.principaisNoticias {
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  margin: 20px auto;
  max-width: 1200px;
  border-radius: 8px;
}

.principaisNoticias h2 {
  color: #030303; 
  font-size: 28px;
  margin-bottom: 20px;
  border-bottom: 2px solid #308640;
  display: inline-block;
  padding-bottom: 10px;
}

.principaisNoticias article {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #cacaca;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.principaisNoticias article p {
  color: #000000;
  font-size: 16px;
}

/* Rodapé */
.rodape {
  background-color: #b01724;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.rodape .informacao-rodape {
  margin-bottom: 10px;
}

.rodape .author-email a {
  color: white;
  text-decoration: none;
}

.rodape .copy-info {
  font-size: 14px;
  margin-top: 10px;
}

/* menu com JS */

.menu-materias ul{
    background-color: #ff0000;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 90px;

    left: 70%;

    width: 405px;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 0;
  }
  
  .menu-materias.abrir ul {
    visibility: visible;
    height: calc(72vh - 7px);
  }
  
    .menu-materias ul li:hover{
      background-color: #000000c4;
      }
    
    .menu-materias ul li {
      display: block;
      padding: 10px 30px;
      font-size: 16px ;
      text-align: center;
    }
  
    .menu-materias ul li a{
      color: #ffffff;
      text-decoration: none;
    }
    #btn-menu{
      width: 45px;
      height: 45px;
      border: 0px solid #ff0000;
      background: transparent;
      border-radius: 10px;
      position: absolute;
      right: 30px;
      top: 20px;
      cursor: pointer;
    }
  
    .linha{
      width: 40px;
      height: 3px;
      background-color: #000000;
      display: block;
      margin: 10px auto;
      position: relative;
      transform-origin: center;
      transition: .2s;
    }
    #btn-menu.ativo .linha:nth-child(1){
      transform: translateY(12px) rotate(-45deg);
      background-color: #000000;
    }
    #btn-menu.ativo .linha:nth-child(3){
      transform: translateY(-15px) rotate(45deg);
      background-color: #000000;
    }
    #btn-menu.ativo .linha:nth-child(2){
      width: 0;

      height: 4px;
    }
    #btn-menu.ativo{
      border: 0px solid #000000;
    }

    /* personalização do sobreNós */

    .quemSomos {
      padding: 20px;
      background-color: #ffffff;
      text-align: center;
      margin: 20px auto;
      max-width: 1200px;
      border-radius: 8px;
    }
    
    .quemSomos h2 {
      color: #030303; /* Cor verde */
      font-size: 28px;
      margin-bottom: 20px;
      border-bottom: 2px solid #308640;
      display: inline-block;
      padding-bottom: 10px;
    }
    
    .quemSomos article {
      margin-bottom: 20px;
      padding: 15px;
      background-color: #cacaca;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 0px 0px 50px 0px;
      margin-left: 100px;
      margin-right: 100px;
    }
    
    .quemSomos article p {
      color: #000000;
      font-size: 20px;
    }

    .team {
      display: flex;
      justify-content: space-around;
      margin: 0px 0px 50px 0px;
      margin-left: 100px;
      margin-right: 100px;
    }
    
    .team-member img {
      width: 150px;
      height: 150px;
    }

    .sociologia-header {
      display: flex;
      color: #ffffffff;
      justify-content: space-between;
      background-color: #e30613;
      padding: 1rem 0;
    }
    
    .logo-header {
      margin: 0 30px;
      display: flex;
      justify-content: space-between;
      background-color: #e30613;
    }
    
    .section-img {
      align-items: center;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
    }
    
    .img-content {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      border: 5px solid #9A1915;
    }
    
    .header-nav {
      list-style: none;
      margin: 0 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    
    .links {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      list-style: none;
      gap: 60px;
      margin-right: 50px;
    
    }
    
    .links a {
      display: flex;
      color: #ffffff;
      font-size: 1.3rem;
      border-bottom: 3px solid transparent;
      border-radius: 3px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    
    .vertical-line {
      height: 50px;
      width: 3px;
      background-color: #ffff;
      margin: 0 20px;
      margin-right: 20px;
    }
    
    
    
    .logo-header {
      margin: 0 40px;
      display: flex;
      justify-content: space-between;
      background-color: #e30613;
      height: 50px;
    }
    
    
    #icones-header {
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
      color: #ffffffff;
      display: flex;
      list-style: none;
      padding: 0;
      margin-right: 5px;
    }
    
    #sesi-logo {
      margin: 0 40px;
    }
    
    .banner {
      padding: 0;
      width: 100%;
      height: 600px;
      filter: brightness(0.6);
    
    }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }
    
    .banner-titulo {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
      margin-bottom: 100px;
    }
    
    h1 {
      font-size: 48px;
      font-weight: bold;
      text-align: left;
      z-index: 3;
      color: white;
      margin-right: 950px;
    }
    
    #line {
      height: 5px;
      margin: 20px auto;
      width: 20%;
      background-color: #9A1915;
    }
    
    .img {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
      height: 50px;
      box-sizing: border-box;
    }
    
    #sesi-logo {
      margin-left: 10px;
      margin-right: 30px;
    }
    
    .header-nav .nav-list {
      list-style: none;
      display: flex;
      justify-content: center;
    }
    
    .img-content {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      border: 5px solid #9a1915;
      
    }
    
    .img {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
      height: 50px;
      box-sizing: border-box;
    }
    
    .alinhamento{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      gap: 200px;
      padding: 100px;
    }
    
    .icones {
      background-color: #e30613;
    }
    
    .topics-header {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    
    .aba-text {
      color: rgb(0, 0, 0);
      text-align: center;
      justify-content: space-between;
      padding-left: 50px ;
    }
    .aba-text-dicas{
      color: rgb(0, 0, 0);
      padding-left: 70px;
    
    }
    
    .aba-item {
      background-color: #e0e0e0;
      border: none;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 20px;
      font-size: 16px;
      color: #333;
      cursor: pointer;
      outline: none;
      width: 250px;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }
    
    .aba-text-check {
      color: rgb(255, 255, 255);
      text-align: center;
      padding-left: 70px;
    }
    
    .aba-item-check {
      background-color: #9A1915;
      border: none;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 20px;
      font-size: 16px;
      cursor: pointer;
      outline: none;
      width: 250px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }
    
    .introducao {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    
    #intro-content {
      max-width: 60%;
      margin-bottom: 50px;
    }
    
    .img-introducao {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    #img-intro {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 20px;
      margin-right: 140px;
      margin-top: 110px;
    }
    
    #intro-1 {
      margin-top: 60px;
      margin-left: 70px;
    }
    
    #intro-2 {
      margin-left: 70px;
      margin-top: 45px;
    }
    
    
    .titulo-intro {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: xx-large;
      color: #000000;
      display: flex;
      white-space: nowrap;
    }
    
    #line-text-1 {
      height: 5px;
      width: 68%;
      background-color: #9A1915;
      margin-left: 1px;
    }
    
    #line-text-2 {
      height: 5px;
      width: 50%;
      background-color: #9A1915;
      margin-left: 1px;
    }
    
    
    .text-intro {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      margin-top: 30px;
      font-size: large;
    }
    
    .imagem-icones {
      margin-left: 43%;
      display: inline-block;
    }
    
    .footer-text {
      background-color: #9a1915;
      color: white;
    
    }
    
    .header-nav .nav-link {
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
      margin: 6px;
      color: #ffffffff;
    }
    
    .footer {
      background-color: #9a1915;
      color: white;
      margin-top: 50px;
    }
    
    .footer .icones {
      background-color: #e30613;
    }
    
    .senai {
      width: 20%;
      display: inline-block;
      text-align: center;
      padding: 30px 0 20px 0;
      margin-left: 29%;
    }
    
    .senai h3 {
      text-align: left;
    }
    
    .senai p {
      text-align: left;
    }
    
    .sesi {
      width: 20%;
      display: inline-block;
      margin-left: 3%;
      text-align: center;
      padding: 0 0 20px 0px;
    }
    
    .sesi h3 {
      text-align: left;
    }
    
    .sesi p {
      text-align: left;
    }
    
    .footer .icones img {
      display: inline-block;
      margin-left: 25px;
    }
    
    .icones {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .footer-text {
      background-color: #9a1915;
      color: white;
    }
    
    .main-content{
      justify-content: center;
      display: flex;
    }
    
    .section-img {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    .img {
      width: 25%;
      margin-bottom: 300px;
      align-items: center;
    }
    
    .img:nth-child(4n+1) {
      margin-left: 0;
    }
    
    .img:nth-child(4n) {
      margin-right: 0;
    }
    
    .img-text {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: x-large;
      text-align: center;
      color: #000000;
    }
    
    .principaisTopicos {
      margin-left: 4%;
      margin-bottom: 5%;
    }
    
    #line-text-3 {
      height: 5px;
      width: 21%;
      background-color: #9A1915;
      margin-left: 1px;
    }